.shop-list {
  list-style-type: disc;
  list-style-position: inside;
  color: var(--backgroundWhite);
}

.shop-section__grap {
  background-color: white;
}

.shop-section__price {
  background-color: var(--mainColor);
  width: 15rem;
  height: 15rem;
  border-radius: 20rem;
  font-weight: 800;
  font-size: 3rem;
}

.shop-section__text {
  background-color: var(--mainBlack);
  padding: 2.3rem;
}

.shop-checkout__title {
  font-size: 4.5rem;
  margin-top: 5rem;
}

.shop-button {
  background-color: var(--backgroundWhite);
  padding: .5rem 0;
  width: 13rem;
  text-align: center;
}

.shop-button-red {
  background-color: rgb(177, 80, 80);
}

.shop-basket__item {
  background-color: white;
  width: 15rem;
  height: 15rem;
}

.shop-checkout {
  background-color: var(--mainBlack);
}

.label-adres {
  width: 100%;
}

.label-counter {
  position: absolute;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.3rem;
  right: .2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: var(--mainBlack);
  background-color: var(--backgroundWhite);
}

.label-adres__info {
  color: rgb(107, 107, 107);
  margin-bottom: .5rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.shop-confirm__price {
  color: var(--mainColor);
}

.shop-confirm__price-bold {
  font-weight: 800;
}

.remove {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  border-radius: 20rem;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-confirm__submit {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  border: none;
}

.shop-banner {
  color: white;
  text-align: center;
}

.shop-banner-red {
  background-color: rgb(177, 80, 80);
  padding: .2rem 0;
}

.shop-banner-green {
  background-color: green;
  padding: .2rem 0;
}
