:root {
  --mainColor: #fae438;
  --mainBlack: #393939;
  --backgroundWhite: #f4f4f4;
}

@custom-media --only-smallest-screen (width >= 400px);
@custom-media --only-small-screen (width >= 500px);
@custom-media --only-520-screen (width >= 520px);
@custom-media --only-biggerSmall-screen (width >= 600px);
@custom-media --only-medium-screen (width >= 700px);
@custom-media --only-mediumShop-screen (width >= 744px);
@custom-media --only-biggerMedium-screen (width >= 900px);
@custom-media --only-big-screen (width >= 1200px);
@custom-media --only-stepTwoSmall-screen (width >= 650px);
@custom-media --only-stepTwoMedium (width >= 920px);
