@import '../src/css/vars.css';
@import '../src/css/reset.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*stylelint-ensable*/

html, body {
  width: 100%;
}

body {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
}

.button-home {
  border: solid var(--mainColor) .6rem
}
