@import '../src/css/vars.css';
@import '../src/css/reset.css';
@import '../src/css/tutorial/strucTutorialHeader.css';
@import '../src/css/tutorial/styleTutorialHeader.css';
@import '../src/css/tutorial/strucTutorialStep.css';
@import '../src/css/tutorial/styleTutorialStep.css';

/*stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/*stylelint-ensable*/

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  background-color: var(--backgroundWhite);
  font-family: brandon-grotesque,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.1rem;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

.button-home {
  border: solid var(--mainColor) .6rem;
  padding: .2rem 4rem;
}

.button-home:hover {
  transform: scale(2);
}

.button {
  background-color: var(--mainColor);
  padding: .6rem 4rem;
}

.d3 {
  color: var(--mainBlack);
  text-align: center;
  text-overflow: clip;
  letter-spacing: 3px;
  text-shadow: -3px 0 1px rgb(30,242,241) , 3px 0 1px rgb(246,5,10);
}

.white-color {
  color: var(--backgroundWhite);
}
