.tutorial-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  margin-top: 2rem;
}

.header {
  margin: 0 auto;

  @media (--only-medium-screen) {
    margin-top: 2vw;
  }
}

.section__message {
  margin-top: 1.2rem;
  max-width: 60rem;
}

.header-section {
  margin-top: 7vw;
  padding-left: 2vw;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title-bold {
  margin-top: -.8rem;

  @media (--only-medium-screen) {
    margin-top: -3rem;
  }
}

.header-background {
  padding: 5rem 0;
}

.header__items {
  margin-top: 1.5rem;
  display: flex;
  overflow-y: scroll;
}

.header-section__buttons {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-section__ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vw;
}
