.tutorial-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
}

.header {
  margin-top: 10vw;
}

.header-section {
  margin-top: 10vw;
  padding-left: 2vw;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title-bold {
  margin-top: -.8rem;
}

.header-background {
  padding: 2rem 0;
}

.header__items {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.header-section__buttons {
  margin-top: 3rem;
  text-align: center;
}

.header-section__ready {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vw;
}
