.step-black {
  background-color: var(--mainBlack);
  padding: 15vw 5vw;
}

.step-interact {
  border: dashed .5rem grey;
}

.arrow-after {
  content: '';
  background-image: url(../../assets/img/arrowReverseMobile.png);
  height: 24vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
}

.step__title-number {
  color: var(--mainBlack);
  background-color: var(--backgroundWhite);
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  margin-left: 1rem;
}

.step__goal {
  background-color: var(--mainColor);
  padding: 2rem 0;
}

.step-one__text {
  color: var(--backgroundWhite);
}

.stepGoal-title {
  font-size: 3.3rem;
}

.step__goal-label {
  display: flex;
  cursor: pointer;
}

.step__title {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.step-sources__item {
  width: 10rem;
  height: 10rem;
  background-color: var(--backgroundWhite);
  margin-right: 1rem;
}

.step-sources__image {
  transform: rotate(50deg);
}

.step-interact__image {
  transform: rotate(15deg);
}

.step-interact__saw {
  background-color: var(--backgroundWhite);
  width: 94%;
  height: 20vw;
}

.step-interact__wood {
  padding: .5rem;
  background-color: var(--backgroundWhite);
}

.step-interact__yellowLine {
  border: solid var(--mainColor) .3rem;
  padding: 0 2rem;
}

.step-interact__button {
  background-color: var(--mainColor);
  border-radius: 20rem;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: grab;
}
