.step-black {
  background-color: var(--mainBlack);
  padding: 15vw 5vw;
}

.step {
  padding: 15vw 5vw;
}

.step-interact {
  border: dashed .5rem grey;
}

.arrow-after {
  content: '';
  background-image: url(../../assets/img/arrow-reverse-mobile.png);
  height: 8.8rem;
  width: 100vw;
  background-position: center;
}

.step__title-number {
  color: var(--mainBlack);
  background-color: var(--backgroundWhite);
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  margin-left: 1rem;
}

.step__title-number-white {
  background-color: var(--mainBlack);
  color: var(--backgroundWhite);
  border-radius: 20rem;
  width: 6rem;
  height: 6rem;
  margin-left: 1rem;
}

.step__goal {
  background-color: var(--mainColor);
  padding: 2rem 0;
}

.step-one__text {
  color: var(--backgroundWhite);
}

.step-one__text-black {
  color: var(--mainblack);
}

.stepGoal-title {
  font-size: 3.3rem;
}

.step__goal-label {
  margin-top: 1.5rem;
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.step__goal-label .step__goal-check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
}

.step__goal-label:hover .step__goal-check ~ .checkmark {
  background-color: #ccc;
}

.step__goal-label .step__goal-check:checked ~ .checkmark {
  background-color: var(--mainBlack);
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.step__goal-label .checkmark::after {
  left: .9rem;
  top: .5rem;
  width: .5rem;
  height: 1rem;
  border: solid white;
  border-width: 0 .3rem .3rem 0;
  transform: rotate(45deg);
}

.step__goal-label .step__goal-check:checked ~ .checkmark::after {
  display: block;
}

.step__title {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.step-sources__item {
  width: 10rem;
  height: 10rem;
  background-color: var(--backgroundWhite);
  margin-right: 1rem;
}

.step-sources__item-white {
  width: 10rem;
  height: 10rem;
  background-color: var(--mainBlack);
  margin-right: 1rem;
}

.step-sources__image {
  transform: rotate(50deg);
}

.step-interact__image {
  transform: rotate(15deg);
}

.step-interact__image-white {
  transform: rotate(15deg);
}

.step-interact__saw {
  background-color: var(--backgroundWhite);
  width: 94%;
  height: 20vw;
}

.step-interact__wood {
  background-color: var(--backgroundWhite);
}

.step-interact__wood-two {
  background-color: var(--backgroundWhite);
  padding: 1.2rem;
}

.step-interact__saw-black {
  background-color: var(--mainBlack);
  width: 94%;
  height: 20vw;
}

.step-interact__wood-black {
  padding: .5rem;
  background-color: var(--mainBlack);
}

.step__two-interact__yellowLine {
  padding: 2rem;
}

.step-interact__yellowLine {
  border: solid var(--mainColor) .3rem;
  padding: 0 2rem;
}

.step-interact__yellowLine-wood {
  border: solid var(--mainColor) .3rem;
  padding: .2rem;
}

.step-interact__button {
  background-color: var(--mainColor);
  border-radius: 20rem;
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: grab;
}

.arrow-before {
  content: '';
  background-image: url(../../assets/img/arrow-mobile.png);
  width: 100vw;
  height: 8.8rem;
  background-position: center;
}

.box {
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: .3rem dotted #666;
}

[draggable] {
  user-select: none;
}
